/** @format */

.btn {
	display: block;
	width: inherit;
	padding: 15px 20px;
	border: 0;
	outline: none;
	font-size: 0.8em;
	text-align: center;
	border-radius: 10px;
	font-weight: bolder;
	margin-top: -20px;
	cursor: pointer;
	background-color: lighten($color: $bg-primary, $amount: 10);
	color: $text-white;
	transition: background-color .5s;
	i {
		display: inline;
		color: red;
	}
}

.btn:hover {
	background-color: $bg-primary;
}

.btn-sm {
	padding: 10px;
	width: 30%;
}

.btn-upload {
	padding: 10px;
	margin-left: 5px;
	width: 50%;
	font-size: 0.7em;
}

.btn-update {
	padding: 13px;
}

@media screen and (min-width: 768px) {
	.btn {
		padding: 20px 30px;
	}
	.btn-upload {
		width: 30%;
		padding: 15px;
		font-size: 0.6em;
	}
	.btn-sm {
		padding: 10px;
		width: 20%;
	}
	.btn-update {
		padding: 13px;
	}
}

@media screen and (min-width: 992px) {
	.btn {
		font-size: 0.6em;
	}
	.btn-sm {
		font-size: 0.5em;
	}
	.btn-upload {
		width: 40%;
		font-size: 0.5em;
	}
	.btn-update {
		font-size: 0.6em;
	}
}
