/** @format */

.nav {
	display: flex;
	padding: 5px 50px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid;
	position: sticky;
	top: 0px;
	z-index: 1;
}

.fa-stream {
	margin-bottom: 0;
}

.logo {
	font-family: "Lobster", cursive;
	line-height: 0;
}

.card {
	width: inherit;
	margin-top: 20px;
	height: 80px;
	border-radius: 15px 15px 0px 0px;
}

.profile--card {
	width: inherit;
	position: relative;
	top: -50px;
	padding: 0 5px 10px 5px;
	border-bottom: 1px solid;
	img {
		padding: 2px;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		margin-left: 20px;
	}
	.profile--header {
		width: inherit;
		display: flex;
		justify-content: space-between;
	}
}

.profile--hero {
	line-height: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.profile--hero__desc {
	line-height: 0;
	font-size: 0.8em;
	font-family: "Lobster Two", cursive;
	font-style: italic;
	margin: 0;
}

.btn-edit {
	height: 100%;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 0.6em;
	outline: none;
	font-weight: bold;
}

.status {
	margin-top: 15px;
	margin-bottom: 0;
	font-style: italic;
	font-size: 0.6em;
}

.followers {
	line-height: 0;
	margin-bottom: 15px;
	font-size: 0.8em;
	font-family: "Lobster Two", cursive;
	span {
		margin-right: 20px;
	}
}

.card-block {
	width: inherit;
	margin-top: -30px;
}

.users-block {
	padding-top: 20px;
	.post--card {
		.post--card__header {
			align-items: center;
			div {
				margin-top: -10px;
				.profile--hero__follower {
					line-height: 0;
					font-size: 0.7em;
					margin-top: 25px;
					margin-bottom: -10px;
					span {
						margin-right: 10px;
					}
				}
			}
			button {
				margin-left: auto;
			}
		}
	}
}

.post--card {
	width: inherit;
	border: 1px solid;
	border-radius: 10px;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 10px;
	.post--card__header {
		display: flex;
		align-items: flex-end;
		.post--avatar {
			width: 60px;
			height: 60px;
			padding: 2px;
			border-radius: 50%;
		}
		div {
			margin-left: 10px;
			margin-bottom: 15px;
			h6 {
				margin-bottom: 20px;
				font-size: 0.8em;
			}
		}
	}
	.post--card__body {
		font-size: 0.8em;
		.details {
			display: flex;
			justify-content: space-between;
			font-family: "Lobster Two", cursive;
			padding-bottom: 10px;
			font-size: 0.6rem;
		}
		.requests {
			display: flex;
			justify-content: center;
			margin-bottom: 0;
			span {
				margin: 0 10px;
				font-size: 1.2em;
			}
		}
	}
}

.successful {
	color: black;
	cursor: pointer;
	transition: 0.5s;
}

.error {
	color: red;
	cursor: pointer;
	transition: 0.5s;
}

@media screen and (min-width: 992px) {
	.nav {
		padding: 0 20px;
	}
	.fa-stream {
		display: none;
	}
	.card {
		height: 100px;
	}
	.profile--card {
		width: inherit;
		position: relative;
		top: -50px;
		padding: 0 5px 10px 5px;
		border-bottom: 1px solid;
		img {
			margin-left: 30px;
		}
		.profile--header {
			width: inherit;
			display: flex;
			justify-content: space-between;
		}
	}
	.users-block {
		.post--card {
			.post--card__header {
				div {
					.profile--hero__follower {
						font-size: 0.55em;
					}
				}
				button {
					margin-left: auto;
				}
			}
		}
	}

	.profile--hero {
		margin-bottom: 25px;
		font-size: 0.8em;
	}

	.profile--hero__desc {
		font-size: 0.6em;
	}
	.status {
		font-size: 0.55em;
	}
	.followers {
		font-size: 0.6em;
	}
	.post--card {
		.post--card__header {
			.post--avatar {
				width: 80px;
				height: 80px;
			}
			div {
				h6 {
					margin-bottom: 23px;
					font-size: 0.6em;
				}
			}
		}
		.post--card__body {
			font-size: 0.65em;
			.details {
				font-size: 0.8em;
			}
			.requests {
				display: flex;
				justify-content: center;
				margin-bottom: 0;
				span {
					margin: 0 10px;
					font-size: 1.2em;
				}
			}
		}
	}
	.btn-edit {
		font-size: 0.5em;
	}
}
