/** @format */

.nav {
	position: sticky;
	display: flex;
	padding: 3px 50px;
	background-color: $bg-white;
	justify-content: space-between;
	align-items: center;
	top: 0px;
	z-index: 1;
}

.fa-stream {
	margin-bottom: 0;
}

.logo {
	font-family: "Lobster", cursive;
	line-height: 0;
}

.card {
	width: inherit;
	margin-top: 20px;
	height: 80px;
	border-radius: 15px 15px 0px 0px;
	background-image: url("../images/background.jpg");
	background-position: bottom right;
}

.profile--card {
	width: inherit;
	position: relative;
	top: -50px;
	padding: 0 5px 10px 5px;
	border-bottom: 1px solid $grey;

	img {
		background-color: $bg-white;
		border: 1px solid lighten($color: $bg-primary, $amount: 30);
		padding: 2px;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		margin-left: 20px;
	}
	.profile--header {
		width: inherit;
		display: flex;
		justify-content: space-between;
		margin-top: -10px;
		.message-redirect {
			display: flex;
			i {
				color: $text-white;
				background-color: lighten($color: $bg-primary, $amount: 10);
				padding: 10px;
				align-self: center;
				border-radius: 5px;
				margin-right: 5px;
			}
			.d-none {
				display: none;
			}

			.d-block {
				display: block;
			}
		}
	}
}

.profile--hero {
	line-height: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.profile--hero__desc {
	color: $text-dark;
	font-size: 0.7em;
	line-height: 0px;
	font-style: italic;
	margin-top: -5px;
	margin-bottom: -10px;
	font-weight: 600;
}

.btn-edit {
	height: 100%;
	border: 2px solid lighten($color: $bg-primary, $amount: 10);
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 0.6em;
	outline: none;
	font-weight: bolder;
	background-color: lighten($color: $bg-primary, $amount: 10);
	color: $text-white;
	margin-right: 5px;
	cursor: pointer;
}

.status {
	margin-top: 10px;
	margin-bottom: 0;
	font-style: italic;
	font-size: 0.7em;
	color: $text-dark;
}

.followers {
	color: $text-dark;
	font-size: 0.7em;
	line-height: 0px;
	font-style: italic;
	margin-bottom: 15px;
	font-weight: 600;
	span {
		margin-right: 20px;
	}
}

.card-block {
	width: inherit;
	margin-top: -30px;
}

.users-block {
	padding-top: 20px;
	.post--card {
		.post--card__header {
			div {
				margin-top: -10px;
				.profile--hero__follower {
					line-height: 0px;
					font-size: 0.65em;
					margin-top: 25px;
					margin-bottom: -10px;
					span {
						margin-right: 10px;
					}
				}
			}
			button {
				margin-left: auto;
				margin-top: 0px;
				font-size: 0.7em;
			}
		}
	}
}

.post--card {
	width: inherit;
	border: 0.5px solid $grey;
	border-radius: 10px;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 10px;
	.post--card__header {
		display: flex;
		align-items: center;
		.post--avatar {
			width: 50px;
			height: 50px;
			padding: 2px;
			border-radius: 50%;
		}
		div {
			margin-left: 10px;
			margin-bottom: 20px;
			h6 {
				margin-bottom: 20px;
				font-size: 0.8em;
			}
		}
	}
	.post--card__body {
		font-size: 0.8em;
		margin-top: -7px;
		.details {
			display: flex;
			justify-content: space-between;
			font-family: "Lobster Two", cursive;
			padding-bottom: 10px;
			font-size: 0.6rem;
			margin-top: -7px;
			border-bottom: 1px solid $grey;
		}
		.requests {
			display: flex;
			justify-content: center;
			margin-bottom: 0;
			margin-top: -5px;
			span {
				margin: 0 15px;
				font-size: em;
				font-weight: bolder;
				i {
					margin-right: 2px;
				}
			}
		}
	}
}

.mt-2 {
	margin-top: 15px;
}

.message {
	width: 100%;
	button {
		margin-top: -30px;
		margin-bottom: 50px;
	}
}

.comment-block {
	margin-bottom: 20px;
}

.comment-card {
	display: flex;
	margin-bottom: 10px;
	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 10px;
	}
	.comment-content {
		width: 100%;
		padding: 10px;
		border-radius: 10px;
		h6 {
			margin: 0;
			font-size: 0.7em;
			display: flex;
			small {
				font-weight: lighter;
				font-size: 0.8em;
				margin-left: auto;
			}
		}
		p {
			font-size: 0.7em;
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
}

.follow--card {
	border: 1px solid $grey;
	padding: 10px;
	border-radius: 10px;
	margin: 5px 0;
	.follow--avatar {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		display: flex;
		margin: auto;
	}
	div {
		text-align: center;
		h6 {
			font-size: 0.8em;
		}
		p {
			font-size: 0.6em;
		}
	}
	button {
		margin-top: 25px;
		padding: 10px;
		width: 100%;
		font-size: 0.7em;
	}
}

.successful {
	color: black;
	cursor: pointer;
	transition: 0.5s;
}

.error {
	color: red;
	cursor: pointer;
	transition: 0.5s;
}

.overflow {
	overflow: auto;
	height: 100vh;
}
.overflow::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.messages--block {
	h5 {
		margin-bottom: 0;
	}
	.users-block {
		margin-top: -10px;
		.post--card {
			padding: 5px 10px;
		}
	}
}

.respondent__head {
	display: flex;
	margin-top: 10px;
	text-align: center;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 5px;
	border-bottom: 1px solid $grey;
	img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid lighten($color: $bg-primary, $amount: 30);
		padding: 2px;
		margin-right: 10px;
	}
	div {
		margin-bottom: 2px;
		h5 {
			margin: 0;
			margin-bottom: -5px;
			font-size: 0.8em;
		}
		small {
			font-size: 0.7em;
			color: darken($color: $grey, $amount: 30);
		}
	}
}

.mt-3 {
	margin-top: 10px;
}

@media screen and (min-width: 768px) {
	.profile--hero__desc {
		margin-top: 0px;
	}
	.follow--card {
		div {
			h6 {
				font-size: 0.8em;
			}
			p {
				font-size: 0.6em;
			}
		}
		button {
			font-size: 0.6em;
		}
	}
	.comment-block {
		margin-top: -20px;
	}
	.comment-card {
		.comment-content {
			h6 {
				font-size: 0.6em;
			}
			p {
				font-size: 0.6em;
			}
		}
	}
	.respondent__head {
		img {
			width: 40px;
			height: 40px;
		}
		div {
			margin-bottom: 2px;
			h5 {
				margin-bottom: -10px;
				font-size: 0.7em;
			}
			small {
				font-size: 0.6em;
			}
		}
	}
	.mt-3 {
		margin-top: 20px;
	}
}

@media screen and (min-width: 992px) {
	.nav {
		padding: 5px 40px;
	}
	.logo {
		font-size: 0.8em;
	}
	.fa-stream {
		display: none;
	}
	.suggest {
		line-height: 0;
		margin-bottom: 0px;
	}
	.card {
		height: 100px;
	}
	.profile--card {
		width: inherit;
		position: relative;
		top: -50px;
		padding: 0 5px 10px 5px;
		img {
			margin-left: 30px;
			width: 100px;
			height: 100px;
		}
		.profile--header {
			width: inherit;
			display: flex;
			justify-content: space-between;
			.message-redirect {
				i {
					padding: 5px 7px;
				}
			}
		}
	}
	.users-block {
		.post--card {
			.post--card__header {
				div {
					.profile--hero__follower {
						font-size: 0.45em;
						margin-top: 30px;
					}
				}
				button {
					margin-left: auto;
					font-size: 0.45em;
				}
			}
		}
	}

	.profile--hero {
		margin-bottom: 25px;
		font-size: 0.7em;
	}

	.profile--hero__desc {
		font-size: 0.5em;
		margin-top: -5px;
	}
	.status {
		font-size: 0.5em;
	}
	.followers {
		font-size: 0.5em;
	}
	.post--card {
		.post--card__header {
			.post--avatar {
				width: 60px;
				height: 60px;
			}
			div {
				h6 {
					margin-bottom: 23px;
					font-size: 0.6em;
				}
			}
		}
		.post--card__body {
			font-size: 0.5em;
			.details {
				font-size: 0.8em;
			}
			.requests {
				display: flex;
				justify-content: center;
				margin-bottom: 0;
				span {
					margin: 0 10px;
					font-size: 1.2em;
				}
			}
		}
	}
	.comment-card {
		.comment-content {
			h6 {
				font-size: 0.5em;
			}
			p {
				font-size: 0.5em;
			}
		}
	}
	.btn-edit {
		font-size: 0.5em;
		border-radius: 8px;
	}
	.follow--card {
		div {
			h6 {
				font-size: 0.55em;
			}
			p {
				font-size: 0.45em;
			}
		}
		button {
			font-size: 0.5em;
		}
	}
	.respondent__head {
		div {
			margin-bottom: 2px;
			h5 {
				margin-bottom: -18px;
				font-size: 0.6em;
			}
			small {
				font-size: 0.5em;
			}
		}
	}
}
