/** @format */

form {
	width: inherit;
}

.form-group {
	margin: 30px 0;
	width: inherit;
	h2 {
		text-align: center;
		font-family: "Lobster Two", cursive;
		text-transform: uppercase;
	}
	a {
		margin-top: -40px;
		line-height: 0;
	}
	p {
		font-size: 0.6em;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
input {
	display: block;
	width: 100%;
	padding: 20px 20px;
	border-radius: 10px;
	font-style: italic;
	outline: none;
}

.edit-control {
	padding: 13px 20px;
	font-size: 0.7em;
	outline: none;
}

.file {
	display: none;
}

.upload--block {
	margin-top: -20px;
	margin-bottom: -20px;
	justify-content: center;
	display: flex;
	align-items: center;
	.upload {
		label {
			cursor: pointer;
			display: flex;
			align-items: center;
			.upload--avatar {
				border-radius: 50%;
				width: 80px;
				height: 80px;
				padding: 2px;
				opacity: 0.5;
			}
			p {
				margin-right: -50px;
				font-size: 2em;
				font-weight: bolder;
				z-index: 1;
			}
		}
	}
}

textarea {
	display: block;
	width: 100%;
	border: 0;
	outline: none;
	font-size: 0.7em;
	padding: 13px 20px;
	border-radius: 10px;
	font-style: italic;
	font-weight: 400;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	input {
		padding: 30px 30px;
	}
}

@media screen and (min-width: 992px) {
	input {
		padding: 25px 40px;
	}
	input {
		font-size: 0.7em;
	}
	.edit-control {
		font-size: 0.55em;
	}
	textarea {
		font-size: 0.55em;
	}
	.upload--avatar {
		width: 150px;
		height: 100px;
	}
	.upload--block {
		.upload {
			label {
				p {
					font-size: 1em;
				}
			}
		}
	}
}
