/** @format */

.form-group {
	margin: 30px 0;
	h3 {
		text-align: center;
		font-family: "Lobster Two", cursive;
		text-transform: uppercase;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
input {
	display: block;
	width: 450px;
	height: 70px;
	border: 0;
	outline: none;
	font-size: 0.7em;
	padding-left: 50px;
	border-radius: 10px;
	font-style: italic;
	font-weight: 400;
}

.file {
	display: none;
}

.upload--block {
	margin-top: 0px;
	margin-bottom: -50px;
	display: flex;
	align-items: center;
	.upload {
		width: 150px;
		min-height: 150px;
		margin-bottom: 0;
		label {
			cursor: pointer;
			.upload--avatar {
				border-radius: 50%;
				width: 120px;
				height: 120px;
				padding: 2px;
			}
		}
	}
}

textarea {
	display: block;
	width: 450px;
	height: 250px;
	border: 0;
	outline: none;
	font-size: 0.7em;
	padding: 20px 50px;
	border-radius: 10px;
	font-style: italic;
	font-weight: 400;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 992px) {
	input {
		width: 550px;
		height: 70px;
		font-size: 0.7em;
		padding-left: 50px;
		border-radius: 10px;
	}
	.edit {
		width: 550px;
		height: 60px;
	}
	textarea {
		width: 550px;
		height: 220px;
	}
}
