/** @format */

form {
	width: 100%;
}

.form-group {
	margin: 0px 0 20px 0;
	width: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	h2 {
		text-align: center;
		font-size: 1.2em;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	h5 {
		text-align: center;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	a {
		margin-top: -40px;
		line-height: 0;
		color: $text-primary;
	}
	p {
		font-size: 0.8em;
		color: $text-red;
		margin-top: -30px;
		padding-bottom: 10px;
	}
	i {
		margin-left: auto;
		color: lighten($color: $text-dark, $amount: 50);
		position: relative;
		top: -32px;
		right: 30px;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
input {
	display: block;
	width: inherit;
	padding: 15px 30px;
	border-radius: 10px;
	border: 1.2px solid rgb(223, 220, 220);
	font-style: italic;
	color: $text-dark;
	outline: none;
	font-size: .7em;
}

input:focus {
	border: 1.5px solid lighten($color: $text-primary, $amount: 10);
}

.edit-control {
	padding: 13px 20px;
	font-size: 0.7em;
	outline: none;
}

.file {
	display: none;
}

.upload--block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

label {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	.upload--avatar {
		border-radius: 50%;
		width: 80px;
		height: 80px;
		padding: 2px;
		opacity: 0.5;
		border: 2px solid $text-primary;
	}
	span {
		margin-right: -55px;
		font-weight: bolder;
		z-index: 1;
		color: $text-dark;
	}
}

textarea {
	display: block;
	width: 100%;
	border: 0;
	outline: none;
	font-size: 0.7em;
	padding: 13px 20px;
	border-radius: 10px;
	font-style: italic;
	font-weight: 400;
	border: 1.2px solid rgb(223, 220, 220);
	margin-bottom: 20px;
	color: $text-dark;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	input {
		padding: 20px 30px;
	}
	.form-group {
		i {
			top: -40px;
		}
	}
}

@media screen and (min-width: 992px) {
	.form-group {
		h2 {
			font-size: 1em;
		}
		a {
			font-size: 0.7em;
		}
		p {
			font-size: 0.5em;
		}
		i {
			top: -42px;
			font-size: 0.8em;
		}
	}
	input {
		padding: 20px 40px;
		font-size: 0.5em;
	}
	.edit-control {
		font-size: 0.55em;
	}
	textarea {
		font-size: 0.55em;
	}
	.upload--avatar {
		width: 150px;
		height: 100px;
	}

	label {
		font-size: 1.5em;
	}
}
