/** @format */

.sidebar-block {
	display: none;
	position: absolute;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
}

.siderow {
	height: 100vh;
	width: 60%;
	.close {
		padding-top: 20px;
		padding-right: 20px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	.avatar-block {
		margin-bottom: 0px;
		div {
			display: flex;
			justify-content: center;
			.avatar {
				padding: 2px;
				border-radius: 50%;
				width: 80px;
				height: 80px;
			}
		}
		h4 {
			margin: 10px 0 0 0;
			text-align: center;
			font-size: 0.8em;
		}
		small {
			display: block;
			font-size: 0.7em;
			margin-top: 5px;
			margin-bottom: 10px;
			line-height: 10px;
			text-align: center;
			font-family: "Lobster Two", cursive;
			font-weight: lighter;
			span {
				margin: 0 10px;
			}
		}
		.name {
			font-style: italic;
		}
	}
	ul {
		list-style-type: none;
		width: 100%;
		padding-left: 0;
		padding: 10px 30px;
		margin-top: 0px;
		font-size: 0.7em;
		li {
			margin: 5px 0;
			width: 100%;
			a {
				display: block;
				text-align: center;
				padding: 10px 0px;
				border-radius: 10px;
				border-width: 1px;
				font-weight: bold;
			}
		}
	}
}

.signout-block {
	width: 100%;
	padding: 10px 30px;
}

.sign-out {
	margin-top: 30px;
	width: 100%;
	padding: 15px 0px;
	border-radius: 10px;
	transition: 0.3s;
	font-size: 0.6em;
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}

.sidebar__icon {
	padding: 0 20px;
}
.animenav {
	background-color: rgba(36, 34, 34, 0.4);
	animation: nav 0.3s forwards;
}
.closeanime {
	animation: navs 0.3s forwards;
}
.siderownav {
	animation: siderow 0.3s forwards;
}
.closesiderow {
	animation: siderows 0.3s forwards;
}
@keyframes nav {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes navs {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes siderow {
	from {
		width: 0%;
	}
	to {
		width: 60%;
	}
}
@keyframes siderows {
	from {
		width: 60%;
	}
	to {
		width: 0%;
	}
}

@media screen and (min-width: 768px) {
	.siderow {
		width: 40%;
	}
	@keyframes siderow {
		to {
			width: 40%;
		}
	}
	@keyframes siderows {
		from {
			width: 40%;
		}
	}
}

@media screen and (min-width: 992px) {
	.sidebar-block {
		position: relative;
		background-color: transparent;
		display: block;
	}
	.siderow {
		position: fixed;
		width: 27%;
		padding-top: 60px;
		.close {
			display: none;
		}
		.avatar-block {
			h4 {
				font-size: 0.6em;
			}
			small {
				font-size: 0.55em;
				margin-bottom: 15px;
				line-height: 7px;
			}
		}
		ul {
			padding: 10px 30px;
			font-size: 0.5em;
			li {
				a {
					padding: 15px;
				}
			}
		}
	}
	
	.signout-block {
		padding: 10px 30px;
	}
	
	.sign-out {
		padding: 15px 0px;
		font-size: .55em;
	}
}

@media screen and (min-width: 1025px) {
	.siderow {
		position: fixed;
		width: 20%;
	}
}