/** @format */

.col-9-display {
}

.col-3-fade {
	//background-color: #fff;
	padding: 0;
	z-index: 100;
	position: fixed;
	display: none;
	& > .siderow {
		padding: 0px;
		width: 60%;
		& > .close {
			padding-top: 20px;
			padding-right: 20px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
		& > .avatar-block {
			padding: 00px 20px 0 30px;
			margin-bottom: 50px;
			& > div {
				display: flex;
				justify-content: center;
				& > .avatar {
					padding: 2px;
					border-radius: 50%;
					width: 80px;
					height: 80px;
				}
			}
			& > h5 {
				margin: 10px 0 0 0;
				font-size: 0.7em;
				text-align: center;
			}
			& > p {
				font-size: 0.6em;
				width: 100%;
				margin-top: 10px;
				line-height: 0px;
				text-align: center;
			}
		}
		& > .nav-list {
			//padding: 0px 20px;
			font-size: 0.7em;
			width: 100%;
			& > .nav-item {
				margin: 50px 0;
				text-align: center;
			}
		}
	}
}

.nav-text {
	padding: 15px 70px;
	border-radius: 10px;
	transition: 0.3s;
}

.signout-block {
	padding: 0px 50px;
}

.sign-out {
	margin-top: 80px;
	width: 100%;
	border-radius: 10px;
	transition: 0.3s;
	font-size: 1em;
	cursor: pointer;
	outline: 0;
	& > P {
		padding: 0px;
		font-size: 0.7em;
	}
}

.sidebar__icon {
	padding: 0 20px;
}
.animenav {
	background-color: rgba(36, 34, 34, 0.4);
	animation: nav 0.5s forwards;
}
.closeanime {
	animation: navs 0.5s forwards;
}
.siderownav {
	animation: siderow 0.5s forwards;
}
.closesiderow {
	animation: siderows 0.5s forwards;
}
@keyframes nav {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes navs {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes siderow {
	from {
		width: 0%;
	}
	to {
		width: 60%;
	}
}
@keyframes siderows {
	from {
		width: 60%;
	}
	to {
		width: 0%;
	}
}

@media screen and (min-width: 768px) {
	.col-3-fade {
		& > .siderow {
			width: 40%;
		}
	}
}

@media screen and (min-width: 992px) {
	.col-9-display {
	}

	.col-3-fade {
		padding: 0;
		position: relative;
		display: block;
		opacity: 1;
		& > .siderow {
			width: 100%;
			& > .close {
				display: none;
			}
			& > .nav-list {
				font-size: 0.6em;
			}
			& > .avatar-block {
				padding-top: 60px;
			}
		}
	}
}
