/** @format */

.myModal {
	position: absolute;
	background-color: rgba(49, 48, 48, 0.6);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	display: none;
	animation-name: anime;
	animation-duration: 0.5s;
}
.d-flex {
	padding-top: 50px;
}
.modal-content {
	margin: auto;
	background-color: #fff;
	padding-top: 10px;
	height: 180px;
	width: 250px;
	border-radius: 15px;
	text-align: center;
}
.fade-out {
	animation: fadeOut 0.5s;
}
.headers {
	border-bottom: 1px solid black;
	line-height: 10px;
}
.bodys {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	button {
		margin: 0 20px;
		width: 100px;
		padding: 20px 0px;
		border-radius: 5px;
		border: 0;
		font-weight: bold;
		font-size: 0.8em;
		background-color: $bg-primary;
		color: $text-white;
		outline: none;
	}
	.negate {
		cursor: pointer;
	}
}
.footer {
	cursor: pointer;
}
.transit h1 {
	animation: translate 4s;
	height: 0px;

	background-color: gold;
}
@keyframes anime {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes translate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 992px) {
	.modal-content {
		width: 350px;
		height: 200px;
	}
}

@media screen and (min-width: 992px) {
	.myModal {
		position: fixed;
		top: 0;
		left: 0;
	}
}
